@{
    ViewData["Title"] = "Home Page";
}
<h3>ΠΡΟΜΗΘΕΥΤΕΣ</h3>
<table class="table">
    <thead>
        <tr>
            <th>ΟΝΟΜΑΣΙΑ</th>
            <th>ΚΑΤΗΓΟΡΙΑ</th>
            <th>ΑΦΜ</th>
            <th>ΔΙΕΥΘΥΝΣΗ</th>
            <th>ΤΗΛΕΦΩΝΟ</th>
            <th>ΕΜAIL</th>
            <th>ΧΩΡΑ</th>
            <th>ΚΑΤΑΣΤΑΣΗ</th>
            <th>ΕΝΕΡΓΕΙΕΣ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ΦΡΕΣΚΟΥΛΗΣ</td>
            <td>FOOD-SUPPLY</td>
            <td>14039102299</td>
            <td>KΥΘΗΡΩΝ 9 ΙΛΙΟΝ</td>
            <td>6979459866</td>
            <td>michalis.palierakis@gmail.com</td>
            <td>GREECE</td>
            <td>EΝΕΡΓΟΣ</td>
            <td>
                <button class="btn btn-success edit1-btn">ΑΝΑΝΕΩΣΗ</button>
            </td>
            <td>
                <button class="btn btn-danger delete-btn">ΔΙΑΓΡΑΦΗ</button>
            </td>
        </tr>
        <tr>
            <td>Maria</td>
            <td>Papadopoulou</td>
            <td>234324324</td>
            <td>ellada</td>
        </tr>
    </tbody>
</table>
